.w100per{
	width: 100%;
}
.register-form-dn{
	padding-top: 30px;
	padding-bottom: 30px;
	background: #F9F9F9;
}

.register-form-dn .info{
	display: flex;
}
.register-form-dn .info i{
	color: #329945;
	padding-top: 6px;
}
.register-form-dn .info p{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #333333;
	padding-left: 10px;

}
.register-form-dn h2{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 72px;
	color: #329945;
}
.register-form-dn .dn-form{
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	padding: 30px;
}
.register-form-dn p{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #333333;
}
.btn-submit-green{
	background: #329945!important;
	background-color: #329945!important;
	border-radius: 10px;
	padding: 10px 42px;
    border: none!important;
}
.btn-submit-green:hover, .btn-submit-green:focus{
	background: #298039!important;
}
.register-form-dn .upto{
	position: relative;
	z-index: 99;
}
.register-form-dn{
	position: relative;
}
.register-form-dn .bottom-green{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 180px;
	background: #e6f4ea;
}

@media only screen and (max-width: 767px) {
	.register-form-dn h2{
		font-size: 24px;
		line-height: 36px;
	}
	.register-form-dn .info p, .register-form-dn p{
		font-size: 14px;
		line-height: 21px;
	}
	.register-form-dn .dn-form{
		margin-top: 20px;
	}
	.register-form-dn .info i{
		padding-top: 2px;
	}
	
}

















