.custom_container {
  max-width: 1280px;
  font-family: "Nunito";
}
.top-head-banner.custom_banner_top {
  margin-top: 0px;
}
.custom-btn-lang .dropdown-toggle {
  margin-right: 0px;
}
.bg_header_kitin {
  background-color: transparent;
  box-shadow: none;
}
.navbar-fixed-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
/* top banner */
.custom_container .banner_detail_kt {
  width: 100%;
  align-items: center;
}
.custom_banner_top .topbanner-gb {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.show > .btn-primary.dropdown-toggle {
  color: #329945;
}
.bg_header_kitin .dropdown-toggle {
  background: transparent !important;
  color: #444444;
}
.bg_header_kitin .dropdown-toggle:hover:active:focus {
  color: #444444;
}

.ktisr_banner {
  width: 100%;
}

.ktisr_banner .name_banner_vnat {
  font-weight: 900;
  font-size: 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #E2AF2A;
}
.ktisr_banner h3 {
  font-family: Nunito;
  font-style: normal;
  font-size: 48px;
  line-height: 54px;
  font-weight: 900;
  text-transform: uppercase;
  color: #212121;
}
.ktisr_banner h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  color: #50b464;
}
.ktisr_banner p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
}
.ktisr_banner .form-search-visa {
  display: flex;
  width: 100%;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border-radius: 40px;
}
.form-search-visa .contain_btn_resgiter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ktisr_banner .form-search-visa .tnds_btn_resgiter {
  width: 100%;
  background-color: #da2128;
  color: white;
  height: 50px;
  border-radius: 40px;
  border: none;
}
.ktisr_banner .form-search-visa .tnds_btn_resgiter:focus:active:hover {
  background-color: #da2128;
  color: white;
}
.ktisr_banner .form-search-visa .tnds_btn_share {
  width: 100%;
  background-color: white;
  color: #329945;
  height: 50px;
  border-radius: 33px;
  border: none;
}
.ktisr_banner .form-search-visa .tnds_btn_share:focus:active:hover {
  background-color: white;
  color: #329945;
}
.register_mobile_hdi {
  display: none;
}
.contain_register_desktop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contain_register_desktop .register_desktop_hdi {
  border-right: 1px solid #dddddd;
}
.contain_register_desktop .register_desktop_hdi .btn_register_desktop_hdi {
  margin-right: 20px;
  width: 196px;
  height: 40px;
  background: #da2128;
  border-radius: 54px;
  border: none;
}
.contain_register_desktop .register_desktop_hdi .btn_register_desktop_hdi:focus:active {
  background: #da2128;
  border-radius: 54px;
  border: none;
}
.contain_register_desktop .phone_desktop_hqk img{
  width: 22.96px;
  height: 22.96px;
  margin-left: 15px;
}
.contain_register_desktop .phone_desktop_hqk {
  display: flex;
  align-items: center;
}
.content_phone_desktop {
  display: block;
  width: 120px;
}
.content_phone_desktop p{
  color: #CA3732;
  text-align: right;
  font-weight: bold;
}
.contain_register_desktop .dv_search_gcn {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  cursor: pointer;
}

.contain_register_desktop .dv_search_gcn img {
 width: 100%;
  height: 100%;
}

.contain_register_desktop .dv_line_icon {
  height: 40px;
  border-right: 1px solid #dddddd;
}

@media only screen and (max-width: 767px) {
  .bg_header_kitin {
    background-color: white;
  }
  .top-head-banner.custom_banner_top {
    margin-top: 0px;
  }
  .top-head-banner .topbanner-gb .row {
    display: contents !important;
  }
  .ktisr_banner {
    padding-top: 86px;
  }
  .ktisr_banner h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .ktisr_banner .name_banner_vnat {
    font-size: 24px;
    line-height: 36px;
  }
  .ktisr_banner h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .ktisr_banner p {
    font-size: 14px;
    line-height: 21px;
  }
  .ktisr_banner .form-search-visa {
    display: flex;
    width: 100%;
    padding: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
    border-radius: 40px;
  }
  .ktisr_banner .form-search-visa .tnds_btn_resgiter {
    width: 100%;
    background-color: #da2128;
    color: white;
    height: 36px;
    border-radius: 40px;
    border: none;
  }
  .custom_img_banner {
    padding-top: 25px;
    padding-bottom: 145px;
  }
  .navbar-brand {
    /*width: 0% !important;*/
  }
  .register_mobile_hdi {
    width: 55%;
    display: flex;
    justify-content: flex-end;
  }
  .register_mobile_hdi .btn_register_hdi {
    border-right: 1px solid #dddddd;
  }
  .register_mobile_hdi .btn_register_hdi .btn_register_hdi_detail {
    width: 102px;
    height: 36px;
    background: #da2128;
    border-radius: 54px;
    border: none;
    margin-right: 12px;
  }
  .register_mobile_hdi .btn_register_hdi .btn_register_hdi_detail:active {
    background: #da2128 !important;
    border-radius: 54px;
  }
  .btn_register_hdi_detail a {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }
  .register_mobile_hdi .contain_phone_header_hdi {
    border-right: 1px solid #dddddd;
  }
  .contain_phone_header_hdi img {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-toggler-icon {
    padding-top: 5px;
  }
  .contain_register_desktop {
    display: none;
  }
}
