.background-qna {
}
.qna-container {
  margin-bottom: 50px;
}
.qna-container .tab-title-item a {
  display: flex;
}
.qna-container .tab-title-item a span {
  padding-left: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #777777;
  text-transform: capitalize;
}
.qna-container .tab-title-item a .icon {
  color: #c4c4c4;
  width: 20px;
}
.qna-container .qna-tabs .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #00000000 !important;
  color: #329945;
}
.qna-container .qna-tabs .nav-pills .nav-link.active span,
.qna-container .qna-tabs .nav-pills .nav-link.active .icon {
  color: #329945;
  font-weight: bold;
}
.qna-container .qna-item-cl {
  background: #e7f6ec;
  border-radius: 6px;
  padding: 10px 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
  cursor: pointer;
  position: relative;
  transition: all 0.2s;
}
.qna-container .ac-qna {
  margin-bottom: 15px;
}
.qna-container .qna-content-item {
  padding: 15px 35px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.qna-container .qna-content-item p {
  margin-bottom: 10px;
}
.qna-container .qna-item-cl.active {
  background: #329945;
  color: #fff;
}
.tab-title-item.nav-item {
  padding: 5px 2px;
  transition: background 0.2s;
}
.tab-title-item.nav-item:hover {
  background: #f4f4f4;
  border-radius: 6px;
}
.qna-container .qna-item-cl.active .cl-item-icon {
  color: #fff;
}
.cl-item-icon {
  color: #329945;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.qna-container .top-container h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 72px;
  text-align: center;
  color: #329945;
}
.qna-container .top-container p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #444444;
}
.qna-container .top-container {
  margin-bottom: 40px;
  margin-top: 45px;
}
.accordion.accordion-faq {
  max-height: 458px;
  overflow: hidden;
  transition: all 0.35s ease-out;
}
.accordion.accordion-faq-show {
  max-height: auto;
  transition: all 0.35s ease-out;
}
.show-more-btn {
  color: #329945;
  padding-top: 6px;
  width: 100%;
  cursor: pointer;
}
.show-more-btn label {
  margin-right: 8px;
}
.faq-table:parent {
  overflow-x: scroll;
}
.faq-table {
  border: 1px solid #9e9090;
}
.bold-price {
  font-weight: bold;
}
.faq-table td {
  border: 1px solid #9e9090;
  padding: 10px;
  text-align: left;
}
.faq-table th {
  padding: 10px;
  border: 1px solid #9e9090;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  background: #329945;
  white-space: nowrap;
  color: #fff;
}
.faq-table h3 {
  padding-left: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  padding: 0;
}
.container_qna_kt {
  padding-top: 50px;
  padding-bottom: 10px;
  background: white;
}
.container_qna_kt .title_qna {
  display: flex;
  justify-content: center;
  font-family: Nunito;
}

.container_qna_kt .title_qna_vnat {
  text-align: center;
}
.container_qna_kt .title_qna_vnat span {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #329945;
  text-align: center;
}
.container_qna_kt .sub_title_qna {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #444444;
}
.container_qna_kt .title_qna h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #212121;
}
.contain_line_qna {
  display: flex;
  justify-content: center;
}
.contain_line_qna .line_qna_kt {
  width: 60px;
  height: 4px;
  background: #329945;
  border-radius: 2px;
}

@media only screen and (max-width: 767px) {
  .qna-container .top-container h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .qna-container .top-container p {
    font-size: 14px;
    line-height: 21px;
  }
  .tab-title-item.nav-item a {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
  }
  .qna-container .tab-title-item a .icon {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 10px;
  }
  .qna-container .tab-title-item a .icon i {
    font-size: 30px;
  }
  .qna-container .tab-title-item a span {
    font-size: 13px;
    line-height: 21px;
    padding: 0;
    margin-top: 10px;
  }
  .qna-container .tab-content {
    margin-top: 25px;
  }
  .qna-container .qna-item-cl {
    font-size: 14px;
    line-height: 21px;
    padding-right: 36px;
    justify-content: center;
  }
  .qna-container .qna-content-item {
    font-size: 16px;
    line-height: 24px;
  }
  .qna-container .qna-content-item div {
    overflow-x: scroll;
  }
  .reponsible_qna_mobile {
    padding: 0 15px !important;
  }
  .container_qna_kt {
    padding-top: 40px;
  }
  .container_qna_kt .title_qna h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .container_qna_kt .title_qna_vnat span {
    font-size: 24px;
    line-height: 36px;
  }
  .container_qna_kt .sub_title_qna {
    font-size: 14px;
    line-height: 21px;
  }
}
