
  

:root {
  --checkbox-radio-size: 16px;
  --checkbox-radio-gap: var(--space-xxxs);
  --checkbox-radio-border-width: 1px;
  --checkbox-radio-line-height: var(--body-line-height);
  --radio-marker-size: 8px;
  --checkbox-marker-size: 12px;
  --checkbox-radius: 4px;
}

.radio,
.checkbox {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.radio + label,
.checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  line-height: 18px;
  user-select: none;
  cursor: pointer;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.radio + label::before,
.checkbox + label::before {
  content: '';
  display: inline-block;
  position: relative;
  margin-right: 10px!important;
  top: calc((1em * var(--checkbox-radio-line-height) - var(--checkbox-radio-size)) / 2);
  flex-shrink: 0;
  width: var(--checkbox-radio-size);
  height: var(--checkbox-radio-size);
  background-color: var(--color-bg);
  /* border-width: var(--checkbox-radio-border-width);
  border-color: var(--color-contrast-low);
  border-style: solid; */
  border: 1px solid;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: var(--checkbox-radio-gap);
  transition: transform .2s, border .2s;
}

.radio:not(:checked):not(:focus) + label:hover::before,
.checkbox:not(:checked):not(:focus) + label:hover::before {
  border-color: hsl(var(--color-contrast-low-h), var(--color-contrast-low-s), calc(var(--color-contrast-low-l) * 0.7));
}

.radio + label::before {
  border-radius: 50%;
}

.checkbox + label::before {
  border-radius: var(--checkbox-radius);
}

.radio:checked + label::before,
.checkbox:checked + label::before {
  margin-right: 10px!important;
  background-color: #4fb463;
  box-shadow: none;
  border-color: #4fb463;
  transition: transform .2s;
}

.radio:active + label::before,
.checkbox:active + label::before {
  transform: scale(0.8);
  transition: transform .2s;
}

.radio:checked:active + label::before,
.checkbox:checked:active + label::before {
  transform: none;
  transition: none;
}

.radio:checked + label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
  background-size: 8px;
}

.checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolyline points='1 6.5 4 9.5 11 2.5' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
  background-size: 12px;
}

.radio:checked:active + label::before,
.checkbox:checked:active + label::before,
.radio:focus + label::before,
.checkbox:focus + label::before {
  border-color: #4fb463;
  box-shadow: 0 0 0 3px #4fb4635c;
}

.radio--bg + label, .checkbox--bg + label {
  padding: var(--space-xxxxs) var(--space-xxxs);
  border-radius: var(--radius-md);
  transition: background .2s;
}

.radio--bg + label:hover, .checkbox--bg + label:hover {
  background-color: var(--color-contrast-lower);
}

.radio--bg:active + label,
.checkbox--bg:active + label,
.radio--bg:focus + label,
.checkbox--bg:focus + label {
  background-color: #4fb4635c;
}


.btn.focus, .btn:focus{
	box-shadow:none!important;
}
*:focus {
    outline: none;
}
button:focus {outline:0;}
.bg-light-hdi{
	background: #FFFFFF;
	height: 80px;
	z-index: 9;
}
input[type="button"]{
   outline:none;
}
input[type="button"]::-moz-focus-inner {
   border: 0;
}
.navbar-light-hdi{
	padding-left: 35px;
    padding-right: 35px;
	border-bottom: 1px solid #EEEEEE;
}
.title-header{
	text-transform: uppercase;
    color: #329945;
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}
.title-header-placholder{
	width: 100%;
	text-align: right;
}
.webinfo a{
	color: #329946;
	cursor: pointer;
}
.webinfo p{
	margin: 0 auto;
	font-size: 15px;
	color: #329945;
}
 .webinfo p i{
	padding-right: 10px;
}
.webinfo.mobile{
		display: none;
	}
.title-header-placholder .webinfo{
	text-align: left;
    width: fit-content;
    float: right;
    padding-right: 30px;
}
.title-header{
	width: 100%;
    text-align: center;
}
.header-r-menu{
	display: flex;
}

.btn-dropdown-lang .dropdown-toggle{
	background: #ffffff!important;
    border: none;
    color: #329945;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}
.btn-dropdown-lang .dropdown-toggle:hover{
	color: #208033;
}
.btn-dropdown-lang .dropdown-toggle i{
	margin-right: 5px;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow:none!important;
}
.btn-dropdown-lang .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    /*color: #329945;
    background-color: #E7FCEE!important;
    border-color: #005cbf;*/
}
.help-menu-text:hover{
	color: #e67e22;
}
.help-menu-text{
	background: none!important;
    border: none;
    color: #329945;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.help-menu-text div{
	min-width: 80px;
}
.help-menu-text div i{
	margin-right: 5px;
}

.pg-container{
	padding: 25px;
}
.pg-container .h5-title{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #DA2128;
	margin: 0;
}



.buy {
  display: block;
  font-size: 12px;
  font-weight: bold;
  background-color: #4e558f;
  padding: 0 18px;
  line-height: 30px;
  border-radius: 0px;
  color: #fff;
  text-decoration: none;
}



.go-to-payment:hover, .go-to-payment:active{
	background: #59bb6d63!important;
    color: #329945!important;
    border-color:#59bb6c!important;
}

.footer{
    padding: 0px 35px;
    border-top: 1px solid #EEEEEE;
}
.footer .col-md-6{
	line-height: 65px;
}
.footer p{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	color: #212121;
	margin: 0;
}
.footer .right{
	display: flex;
	justify-content: flex-end;
}
.footer .right p:first-child{
	margin-right: 20px;
}
.footer .right p a{
	color: #329945;
    font-size: 16px;
    font-weight: bold;
}
.footer .right p i{
	color: #999999;
}
.drop-item-mn i{
	color: #BBBBBB;
	font-size: 12px;
	padding-top: 5px;
}
.drop-item-mn{
	display: flex;
}
.drop-item-mn{

}
.dropdown-item{
	padding: 0.8rem 0.9rem!important;
}
.drop-item-mn .text{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #212121;
	width: 154px;
	padding-left: 10px;
}
.fl-text-area{

}
.dropdown-menu{
	padding: 0!important;
}
.dropdown-divider{
	margin: 0!important;
}
.dropdown-item.active, .dropdown-item:active{
	background-color: #E7FCEE;
}
.drop-item-mn .fa-check-circle{
	color: #329945;
}
.dropdown-menu.show{
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
	border-radius: 6px;
	overflow: hidden;
}
.select-payment-text{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	display: flex;
	align-items: center;
	color: #212121;
	margin: 0;
}
/* .navbar-brand{
	width: 100%;
} */
.navbar-collapse{
	width: 100%;
}
.navbar-brand img{
	width: 69px;
	height: 48px;
}
.navbar-light-hdi{
	/* position: sticky; */
    top: 0;
    z-index: 1000;
}
.payment-error-container{

}
.payment-status-container .orange-banner{
	height: 200px;
	background: #F97A5D;
}
.payment-status-container .green-banner{
	height: 200px;
	background: #329945;
}
.payment-status-container .error-frame{
	background: #FFFFFF;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	margin-top: -160px;
	padding: 50px 10px;
	text-align: center;
}
.payment-status-container .img-err-obj img{
	max-width: 375px;
	margin: 0 auto;
}
.payment-status-container .img-err-obj{
	text-align: center;
}
.payment-status-container .error-frame h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	color: #DA2128;
	margin-top: 30px;
}
.payment-status-container  .text-green{
	color: #212121!important;
}
.payment-status-container .text-red{
	color: #DA2128;
	font-weight: bold;
}
.payment-status-container .error-frame p{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #212121;
	margin-bottom: 30px;
}

.payment-status-container .back-to-previous{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 24px;
	padding: 12px 30px;
	text-decoration: none;
	transition: all 0.5s;
}
.payment-status-container.success .back-to-previous{
	color: #329945;
	border: 1px solid #329945;
}
.payment-status-container.error .back-to-previous{
	color: #DA2128;
	border: 1px solid #DA2128;
}
.payment-status-container.success .back-to-previous:hover{
    background: #4caf5045;
    text-decoration: none;
}
.payment-status-container.error .back-to-previous:hover{
	color: #da2228;
    background: #fa7b5d26;
    text-decoration: none;
}
.view-more-product:hover{
	color: #ffffff!important;
}
.view-more-product{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 24px;
	padding: 12px 30px;
	text-decoration: none;
	transition: all 0.5s;
	color: #fff;
    background: #329945;
}



.partice-bg{
	background-image: url('/img/bg-partice.svg');
	width: 100%;
	height: 273px;
	position: absolute;
    bottom: 0;
    left: 0;
}

.head-top-banner{
	position: relative;
}
.head-top-banner .search-form-container{
	background: #FFFFFF;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	margin-top: -126px;
    z-index: 999;
    position: relative;
}
.custom-control-input:checked~.custom-control-label::before{
	border-color: #329945;
    background-color: #329945;
}
.radio-group-select{
	padding:  20px;
	border-bottom: 1px solid #dddddd;
}
.f-orm{
	padding: 20px;
}
.custom-control-label{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #777777;
}
.border-ip{
	border: 1px solid #ddd;
	border-radius: 10px;
}
.border-ip.disable{
	background: #eeeeee;
}
.border-right-custom{
	border-right: 1px solid #dddddd;
	padding-right: 0px;
}
.Popover-below{
	z-index: 9999999;
}
.search-ctn{
	background: #f3f3f3;
	background-image: url('/img/Rectangle655.svg');
}
.search-result{
	margin: 30px 0;
}
.search-result .rns-note{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #777777;
	text-align: center
}
.search-result h3{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

.product---list{
	margin-top: 50px;
}
.vjbaner{
	background-image: url(/img/MaskBanner.png);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}
.radio-group-select{
	display: flex;
}
.jx02{
	margin-left: 20px;
}
.sltexd .custom-control-label{
	color: #212121;
}
.search-action{
	text-align: center;
	padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.search-action-button{
	height: 40px;
	background: #DA2128;
	border-radius: 40px;
	color: #ffffff;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	text-align: center;
	width: 200px;
	border:none;
}
.search-action-button:hover, .search-action-button:focus{
	background: #DA2128;
}
.search-action-button .fa-search{
	width: 0px;
	opacity: 0;
	margin-right: 0px;
	transition: all 0.2s;
}
.search-action-button:hover .fa-search{
	width: 15px;
	opacity: 1;
	margin-right: 10px;
}
.m-action{
	text-align: center;
	padding: 20px 0px;
}
.m-action .red-button{
	width: 200px;
	height: 40px;
	background: #DA2128;
	border-radius: 40px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	border:none;
}
.mt-15{
	margin-top: 15px;
}
.p-footer-note{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #444444;
}
.p-footer-note .text-phone-contact{
	text-decoration-line: underline;
	color: #329945;
}
.modal-footer{
	justify-content: center!important;
}
.slick-list {
	margin: 0 -15px!important;
}

.footer{
	padding-top: 50px;
}
.footer .footer-h3{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #212121;
}
.footer p{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #777777;
}
.footer a{
	text-decoration-line: underline;
	color: #329945
}
.footer i{
	margin-right: 15px;
}
.footer .footer-copy-right{
	padding: 15px 0px;
	text-align: center;
	border-top:1px solid #dddddd;
	margin-top: 20px;
}
.footer .m-item{
	padding-top: 14px;
	display: flex;
	text-align: left;
}
.footer .footer-menu{
	list-style: none;
	margin: 0;
    padding: 0;
}
.footer .footer-menu li a{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	text-decoration-line: underline;
	color: #329945;
}
.footer li{
	padding: 0;
	line-height: 39px;
}
.footer .input-email-subcriber .button-submit{
	height: 45px;
    width: 50px;
	background: #DA2128;
	border-radius: 0px 9px 9px 0px;
	border:1px solid #DA2128;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	right: 0;
}
.footer .input-email-subcriber{
	display: flex;
	margin-top: 23px;
}
.footer .input-email-subcriber input{
	color: #329945;
	font-family: Nunito;
	font-style: normal;
	border: 1px solid #DDDDDD;
    height: 45px;
    width: 100%;
    border-right: none;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-left: 10px;
}
.footer .mt-20{
	margin-top: 20px;
}
.footer .social-list{
	
}
.footer .social-list a{
	color: #A1A1A1;
	transition: color 0.2s;
	margin-right: 15px;
}
.footer .social-list a:hover{
	color: #329945;
}
.footer{
	background-image: url('/img/footer-background.png');
	background-size: cover;
    background-repeat: no-repeat;
}
.page-loader{
	width: 100%;
	height: 100%;
	position: fixed;
	background: #fff;
	z-index: 999999;
	top: 0;
	  -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
     opacity: 1;
}
.page-loader.hide{
	opacity: 0;
}
.hide-component{
	display: none!important;
}
.page-loader.none{
	display: none;
}
.form-control:focus{
	box-shadow: none;
}


body.react-confirm-alert-body-element {
  overflow: hidden;
}

.react-confirm-alert-blur {
  filter: url(#gaussian-blur);
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.react-confirm-alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(255, 255, 255, 0.9);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -moz-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  -o-animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
  animation: react-confirm-alert-fadeIn 0.5s 0.2s forwards;
}

.react-confirm-alert-body {
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  padding: 30px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.13);
  color: #666;
}

.react-confirm-alert-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.react-confirm-alert-body > h1 {
  margin-top: 0;
  font-size: 22px;
}

.react-confirm-alert-body > h3 {
  margin: 0;
  font-size: 16px;
}

.react-confirm-alert-button-group {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.react-confirm-alert-button-group > button:first-child {
	font-family: Nunito;
	font-style: normal;
  outline: none;
  background: #4CAF50;
  border: none;
  font-weight: 700;
  display: inline-block;
  padding: 6px 53px;
  color: #eee;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.react-confirm-alert-button-group > button:last-child {
	font-family: Nunito;
	font-style: normal;
  outline: none;
  background: #00000000; 
  border: none;
	display: inline-block;
	padding: 6px 18px;
	color: #F44336;
	margin-right: 10px;
	font-weight: 700;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
}

@-webkit-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes react-confirm-alert-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.form-switch{
	cursor: pointer;
}
.form-switch i {
  position: relative;
  display: inline-block;
 	margin-right: .5rem;
  width: 30px;
  height: 18px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 18px;
  background-color: #e2e2e2;
  border-radius: 11px;
  transform: translate3d(0px, 0px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 1px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(10px, 0px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #319945; }

.form-switch input:checked + i::before { transform: translate3d(12px, 1px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(12px, 1px, 0); }



.hd-container {
    max-width: 1340px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.btn-style1{
	border-color: #329945!important;
	background:none!important;
	color: #329945!important;
	border-radius: 30px!important;
	text-transform: capitalize;
}
.btn-style1:hover, .btn-style1:active, .btn-style1:visited{
	border-color: #329945!important;
	background-color: #329945!important;
	color: #fff!important;
}


.btn-style2{
	border-color: #DA2128!important;
	background:#DA2128!important;
	color: #fff!important;
	border-radius: 30px;
}
.btn-style2:hover, .btn-style2:active, .btn-style2:visited{
	border-color: #DA2128!important;
	background-color: #DA2128!important;
	color: #fff!important;
}


.btn-style3{
	border-color: #329945!important;
	background:#329945!important;
	color: #fff!important;
	border-radius: 30px;
}
.btn-style3:hover, .btn-style3:active, .btn-style3:visited{
	border-color: #329945;
	background-color: #329945;
	color: #fff;
}
.error_container{
	background: #ffffff;
	width: 100%;
  height: 100%;
}
.error_container p{
	padding-bottom: 30px;
}
.page-error_title{
	font-size: 24px;
}
.error_ation-btn{
	margin-top: 20px;
	color: #329945;
	background: rgba(50, 153, 69, 0.1);
	border-radius: 10px;
	padding: 10px 30px;
}
.error_ation-btn:hover{
	color: #329945;
	background: rgba(50, 153, 69, 0.3);
	border-radius: 10px;
	padding: 10px 30px;
}
.error_container .error_ctx{
	padding-bottom: 50px;
}




@keyframes pulse-lod {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}

/* GRID STYLING */
.loading-title-btn .txt-lb{
	opacity: 0;
}
.loading-title-btn{
	position: relative;
}
.spinner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* PULSE BUBBLES */

.pulse-container {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #DA2128;
}

.pulse-bubble-1 {
    animation: pulse-lod .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse-lod .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse-lod .4s ease .4s infinite alternate;
}



@media only screen and (max-width: 767px) {
	.navbar-brand img{
		width: 48px !important;
		height: 34px !important;
	}
}
