.logo_hdi img {
  width: 115px;
  height: 80px;
}
@media only screen and (max-width: 767px) {
  .custom_ft_mobile {
    padding-top: 20px;
  }
  .footer .footer-menu li a {
    font-size: 14px !important;
  }
  .footer .footer-menu li {
      line-height: 30px;
  }
}
