

.topbanner-gb{
	background-image: url(/img/visa/bannertop.png);
	background-position: center;
    background-size: cover;
    position: relative;
    /* z-index: 9999999; */
	overflow: hidden;
}
.top-head-banner{
	height: 687px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F6FFF9;
}
.top-head-banner .parent-class{
	position: relative;
	height: 687px;
}
.top-head-banner .divcard{
	max-width: 512px;
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.divpcard{
	width: 100%;
	height: 687px;
	position: relative;
}
.clf-banner{
	width: 80%;
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.clf-banner h3{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 54px;
	text-transform: uppercase;
	color: #212121
}
.clf-banner h1{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 72px;
	text-transform: uppercase;
	color: #50B464;
}
.clf-banner p{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #212121;
}
.clf-banner .form-search-visa .input-hor-group {
    border: 1px solid #dddddd;
    border-radius: 33px;
}
.clf-banner .form-search-visa .input-hor-group #float-label .no-border {
    border-radius: 33px;
}
.navbar-light-hdi{
	z-index: 99999999;
}

.clf-banner .form-search-visa{
	width: 100%;
	padding: 30px;
	background: #FFFFFF;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
	border-radius: 33px;
}
.input-hor-group{
	display: flex;
}

.input-hor-group .hdrive{
	width: 2px;
	height: 54px;
	background: #dddddd;
}
.input-hor-group #float-label{
	width: 100%;
}
.input-hor-group .uikit_flinput_wrap{
	width: 100% !important;
}
.input-hor-group{
	border:1px solid #dddddd;
	border-radius: 20px;
}
.input-hor-group #float-label .no-border{
	border-radius: 20px;
}


#tsparticles{
	opacity: 0.1;
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}












