.kt_custom_relation_product {
  padding-bottom: 100px;
}
.contain_product_infor {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 35px;
}
.contain_product_infor .title_product_infor {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contain_product_infor .title_product_infor h2 {
  font-size: 48px;
  color: #212121;
  font-weight: bold;
}
.line_product_infor {
  width: 60px;
  height: 4px;
  background: #329945;
  border-radius: 2px;
  margin: 15px 0px;
}
.contain_relation_production {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contain_relation_production .relation_production {
  width: 60%;
}
.contain_relation_production .relation_production p {
  text-align: center;
  color: #212121;
  font-size: 18px;
  line-height: 27px;
}

.contain_slide_product {
  width: 100%;
  padding-bottom: 30px;
}
.contain_slide_product .slide_product_detail {
  width: 255px;
  min-height: 265px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  margin-bottom: 25px;
  margin: auto;
}
.slide_product_detail .slide_product_img {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.slide_product_detail .slide_product_img img {
  width: 100%;
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
}
.title_product_slide {
  height: 70px;
  padding: 0px 15px;
}
.title_product_slide h5 {
  text-align: center;
  color: #212121;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
}
.view_product_slide {
  text-align: center;
  padding-bottom: 20px;
}
.view_product_slide a {
  color: #329945;
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  text-decoration-line: underline;
}
.btn_view_product {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn_view_product .btn_view_product_detail {
  width: 80%;
  height: 40px;
  line-height: 40px;
  margin-bottom: -20px;
  background: #329945;
  border-radius: 100px;
  border: none;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 14px;
}

.btn_view_product .btn_view_product_detail:focus:active {
  background: #329945 !important;
  border: none !important;
}
.slick-prev:before {
  display: none;
}
.slick-prev::before {
  display: none;
}
.custom_arrow_right {
  width: 50px !important;
  height: 50px !important;
  background: white !important;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  z-index: 9999;
  border-radius: 50%;
  margin-left: 15px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.custom_arrow_left {
  width: 50px !important;
  height: 50px !important;
  background: white !important;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
  z-index: 9999;
  border-radius: 50%;
  margin-right: 15px;
  display: flex !important;
  align-items: center;
}
.custom_arrow_right img {
  width: 10px;
  height: 16.5px;
}
.custom_arrow_left img {
  width: 10px;
  height: 16.5px;
}
.ctn_bg_product_relation {
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 767px) {
  .contain_slide_product .slide_product_detail {
    width: 100%;
  }
  .kt_custom_relation_product {
    padding-bottom: 40px;
  }
  .contain_product_infor {
    padding-top: 50px;
  }
  .contain_product_infor .title_product_infor h2 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  .contain_relation_production .relation_production {
    width: 100%;
  }
  .contain_relation_production .relation_production p {
    font-size: 14px;
    line-height: 21px;
  }
  .hide_br_kt {
    display: none;
  }
  .title_product_slide {
    height: auto;
  }
}
