.custom_container .contain_introduce {
  padding-top: 80px;
}
.contain_introduce .contain_img_introduce {
  text-align: center;
}
.contain_introduce .contain_img_introduce .img_introduce {
  width: 377px;
}
.contain_introduce .content_introduce .title_introduce h2 {
  color: #212121;
  font-size: 48px;
  font-weight: bold;
}
.contain_introduce .content_introduce .title_introduce_vnat h2 {
  color: #329945;
  font-size: 48px;
  font-weight: bold;
  line-height: 72px;
}

.contain_introduce .content_introduce .line_introduce {
  width: 60px;
  height: 4px;
  background-color: #329945;
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.contain_introduce .content_introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contain_introduce .content_introduce .content_introduce_detail p {
  font-size: 18px;
  line-height: 27px;
  color: #666666;
}
.introduce_overview {
  background-size: cover;
  height: 883px;
}
.introduce_overview_tncn {
  background-size: cover;
  padding-bottom: 60px;
}
.intro_type_tncn {
  width: 100%;
  background-color: white;
}
.intro_type_tncn .contain_intro_tncn {
  background-color: #f9f9f9;
  border-top-right-radius: 120px;
  padding: 60px 0px;
}
.kitin_tncn {
  width: 100%;
}
.kitin_tncn .particex_tncn {
  width: 70%;
  height: 375px;
  background: linear-gradient(270deg, #5bbd6f 0%, #3ba14e 100%);
  border-radius: 16px;
  position: absolute;
  transform-origin: left top 0px;
  top: 25%;
  right: 28%;
  position: absolute;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.kitin_tncn .style_imgleft_tncn {
  width: 100%;
  z-index: 2;
  position: relative;
  max-width: 445px;
  border-radius: 20px;
  transition: 0.5s;
  top: 50%;
  left: 10%;
}
.title_introduce_tncn h2{
  color: #212121;
  font-size: 48px;
  font-weight: bold;
}
.line_introduce_tncn {
  width: 60px;
  height: 4px;
  background-color: #329945;
  border-radius: 2px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.content_introduce_tncn p{
  font-size: 18px;
  line-height: 27px;
  color: #666666;
}
.list_icon_tncn {
  width: 60px;
  height: 60px;
  background: #E9FAEE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.list_icon_tncn img {
  width: 29.13px;
  height: 32px;
  margin: auto;
}
.content_icon_tncn {
  font-family: Nunito;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
  margin: auto;
  margin-left: 0px;
  padding: 0px;
}

.iconfa-introduce{
    font-size: 26px;
    color: #3ba14f;
    padding-top: 17px;
}
@media only screen and (max-width: 767px) {
  .contain_introduce .contain_img_introduce .img_introduce {
    width: 100%;
  }
  .packge-hdbank h1{
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
  }
  .custom_container .contain_introduce {
    margin-top: 15px;
    padding-top: 15px;
  }
  .content_introduce_detail{
    text-align: left;
  }
  .contain_introduce .ctn_intro_vnat{
    text-align: center;
  }
  .contain_introduce .content_introduce .title_introduce {
    padding-top: 20px;
  }
  .contain_introduce .content_introduce .title_introduce h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .contain_introduce .content_introduce .title_introduce_vnat h2 {
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
  }

  .contain_introduce .content_introduce .line_introduce {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .contain_introduce .content_introduce .content_introduce_detail p {
    font-size: 14px;
    line-height: 21px;
  }
  .introduce_overview {
    background-size: cover;
    height: 530px;
  }
  .kitin_tncn .particex_tncn {
    width: 70%;
    height: 280px;
    background: linear-gradient(270deg, #5bbd6f 0%, #3ba14e 100%);
    border-radius: 16px;
    position: absolute;
    transform-origin: left top 0px;
    top: 25%;
    right: 28%;
    position: absolute;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  .kitin_tncn .style_imgleft_tncn {
    width: 100%;
    left: 0;
  }
  .custom_ctxx_tncn {
    padding-top: 50px;
  }
  .title_introduce_tncn h2{
    font-size: 24px;
    line-height: 36px;
  }
  .content_introduce_tncn p{
    font-size: 14px;
    line-height: 21px;
  }
  .content_icon_tncn {
    margin-left: 15px;
    padding: 0px 15px;
  }
  .introduce_overview_tncn{
    padding-bottom: 20px
  }
}
