.contain_bg_contact {
  width: 100%;
  height: 432px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container_form_contact {
  width: 1280px;
}
.custom_container .line_contact {
  width: 60px;
  height: 4px;
  background: #ffffff;
  border-radius: 2px;
}
.custom_container .title_contact {
  padding-right: 70px;
}
.custom_container .title_contact h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}
.form_contact_kt {
  width: 100%;
  height: 317px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
.ctn_contact_hqk {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.form_contact_kt .content_form_contact {
  display: flex;
  justify-content: center;
  font-family: Nunito;
  font-size: 18px;
  line-height: 27px;
  padding: 25px;
  color: #333333;
}
.form_contact_kt .btn_submit_kt {
  width: 100%;
  background: #da2128;
  border-radius: 10px;
  border: none;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_contact_kt .btn_submit_kt:focus:active {
  width: 100%;
  background: #da2128;
  border-radius: 10px;
  border: none;
  height: 54px;
}
.cjufe_btn_hu .btn_submit_kt {
  width: 100%;
  background: #da2128;
  border-radius: 10px;
  border: none;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cjufe_btn_hu .btn_submit_kt:focus:active {
  width: 100%;
  background: #da2128;
  border-radius: 10px;
  border: none;
  height: 54px;
}
.contain_line_contact_tncn .line_contact {
  width: 60px;
  height: 4px;
  background: #329945;
  border-radius: 2px;
}
.ctn_contact_title h2 {
  font-family: Nunito;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #333333;
}

.ctn_contact_title_vnat span {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #329945;
}


.content_detail_tncn {
  font-family: Nunito;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 0px;
}

.content_detail_vnat {
  font-family: Nunito;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 0px;
}

.btn_submit_tncn_x {
  width: 100%;
  height: 54px;
  background: #da2128;
  border-radius: 10px;
  border: none;
}
.btn_submit_tncn_x:hover {
  background: #da2128;
  border: none;
}
.tncn_img_right_detail {
  display: flex;
  justify-content: flex-end;
}
.tncn_img_right_detail img {
  width: 418.1px;
  height: 418.1px;
  z-index: 3;
}
.custom_height_tncn {
  height: 565px;
}
.contain_tcb_contact {
  background-color: white;
  height: 605px;
}
.contain_tcb_contact_detail {
  background-color: #F9F9F9;
  border-top-right-radius: 120px;
  height: 100%;
}
.tcb_img_left {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.tcb_img_left img {
  width: 418.1px;
  height: 418.1px;
  z-index: 3;
}
.box_tcb_ccc {
  position: absolute;
  width: 375px;
  height: 375px;
  background: linear-gradient(270deg, #5BBD6F 0%, #3BA14E 100%);
  border-radius: 16px;
  top: 80px;
  left: -60px;
}

@media only screen and (max-width: 767px) {
  .form_contact_kt {
    width: 100%;
  }
  .ctn_contact_hqk {
    flex-direction: column;
  }
  .container_form_contact {
    width: 100%;
  }
  .custom_container .title_contact h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .form_contact_kt .content_form_contact {
    font-size: 14px;
    line-height: 21px;
    padding: 25px 20px;
  }
  .custom_container .line_contact {
    margin-bottom: 20px;
  }
  .tncn_img_right_detail img {
    width: 100%;
    height: auto;
  }
  .ctn_contact_title h2 {
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }
  .content_detail_tncn {
    padding-bottom: 15px;
    padding-top: 0px;
    font-size: 14px;
    line-height: 21px;
  }
  .custom_height_tncn {
    height: auto;
    padding: 20px 0px;
  }
  .custom_padding_tncn {
    margin-bottom: 20px;
  }
  .tcb_img_left img {
    width: 100%;
    height: auto;
  }
  .box_tcb_ccc {
    display: none;
  }
  .cxx_tcb_padding {
    padding-top: 20px;
  }
  .cxx_tcb_padding_top {
    margin-bottom: 20px;
  }
  .contain_tcb_contact {
    height: auto;
  }
  .contain_tcb_contact_detail  {
    padding: 35px 0px;
  }
  .ctn_contact_title_vnat span {
    font-size: 24px;
    line-height: 36px;
  }
  .content_detail_vnat{
    font-size: 14px;
    line-height: 21px;
  }
}
