.contain_form {
  width: 100%;
  /* min-height: 680px; */
}
.contain_form_tnds_kt {
  margin-top: -170px;
}
.contain_form .contain_bg_form {
  width: 100%;
  /* min-height: 680px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/visa/bannertop.png);
  padding-bottom: 60px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.contain_bg_form .title_buy_isr {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contain_bg_form .title_buy_isr span {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #329945;
}
.contain_bg_form .contain_line_buy_isr {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.contain_line_buy_isr .line_buy_isr {
  width: 60px;
  height: 4px;
  background: #329945;
  border-radius: 2px;
}
.contain_bg_form_tnds_kt {
  padding-top: 180px;
}
.contain_bg_form_other {
  padding-top: 40px;
}

@media only screen and (max-width: 767px) {
  .contain_bg_form .title_buy_isr span {
    font-size: 24px;
    line-height: 36px;
  }
  .contain_bg_form .title_buy_isr {
    padding: 0px;
  }
  .hide_kitin_component {
    display: none;
  }
  .show_kitin_component {
    display: block;
  }
  .content_text_buy_hqk {
    width: 85%;
    margin: auto;
    text-align: center;
  }
  .content_text_buy_hqk .hight_light_kt {
      font-weight: bold;
  }
  .content_text_buy_hqk .hqk_isr_btn_buy {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background: #DA2128;
    border-radius: 10px;
    border: none;
  }
  .content_text_buy_hqk .hqk_isr_btn_buy a {
    color: white;
    text-decoration: none;
  }
  .content_text_buy_hqk .hqk_isr_btn_buy:focus {
    background: #DA2128;
    border-radius: 10px;
    border: none;
  }
  .content_text_buy_hqk .hqk_isr_btn_buy:active {
    background: #DA2128 !important;
    border-radius: 10px !important;
    border: none;
  }
  .contain_form_tnds_kt {
    margin-top: 0px;
  }
  .contain_bg_form_tnds_kt {
    padding-top: 25px;
  }
  .contain_bg_form_other {
    padding-top: 30px;
}
}
