.overview_intro {
  background-color: white;
}
.tnds_introduce_top {
  margin-top: -100px;
}
.tnds_introduce_top .gt-list {
  padding: 40px 0px;
  position: relative;
  z-index: 2;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tnds_introduce_top {
  padding-right: 15px;
  padding-left: 15px;
}
.tnds_introduce_top .tnds_text_kt {
  height: 44px;
  margin-bottom: 20px;
}
.tnds_introduce_top .tnds_text_kt p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  height: 100%;
}
.tnds_introduce_top .tnds_title_kt p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}
.color_white_hdi {
  color: white;
}

.type_2_introducetop {
  width: 100%;
  height: 196px;
  background-repeat: no-repeat;
  background-size: cover;
}
.type_2_content_introduce {
  display: flex;
  align-items: center;
  height: 100%;
}
.type_2_introducetop .custom_container {
  height: 100%;
}
.type_2_content_introduce .tnds_title_kt {
  text-align: center;
  width: 90%;
}
.type_2_content_introduce .tnds_title_kt p {
  font-family: Nunito;
  font-weight: 900;
  font-size: 36px;
  line-height: 54px;
}
.type_2_content_introduce .tnds_text_kt {
  text-align: center;
  margin-top: 20px;
  height: 44px;
  width: 90%;
}
.type_2_content_introduce .tnds_text_kt p {
  font-family: Nunito;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
.custom_type2_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .tnds_introduce_top .tnds_text_kt p {
    font-size: 14px;
    line-height: 21px;
  }
  .tnds_introduce_top .tnds_title_kt p {
    font-size: 24px;
    line-height: 36px;
  }
  .tnds_introduce_top .gt-list {
    padding: 20px 0px;
  }
  .tnds_introduce_top .tnds_text_kt {
    height: 40px;
    margin-bottom: 5px;
  }
  .custom_tnds_text_kt {
    margin-top: 15px;
  }
  .custom_tnds_text_kt .tnds_text_kt {
    height: 25px;
  }
  .custom_hqk_tt {
    padding: 10px;
  }
  .type_2_introducetop {
    height: 250px;
    padding: 10px 0px;
    /* padding-bottom: 10px;
    padding-top: 10px; */
  }
  .type_2_content_introduce .tnds_text_kt {
    margin-top: 10px;
  }
  .type_2_content_introduce .tnds_text_kt p {
    font-size: 14px;
    line-height: 21px;
  }
  .type_2_content_introduce .tnds_title_kt p {
    font-size: 24px;
    line-height: 36px;
  }
}
