.upload-container{

}
.upload-container{
	
}
.upload-container{
	padding-bottom: 20px;
	display: flex;
}
.upload-container .wrap-item1{
	width: 46px;
	height: 46px;

}
.ml-10{
	margin-left: 10px;
}

.upload-container  .upload-item i{
    transition: all 0.5s;
}
.upload-container  .upload-item{
	cursor: pointer;
	width: 100%;
	height: 100%;
    color: #329945;
    background: #D9FFE6;
    border: 1px dashed #DDDDDD;
    position: relative;
    border-radius: 5px;
    transition: all 0.5s;
    font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}
.wrap-item2 .upload-item{
	padding: 10px 54px;
}
.upload-container .wrap-item1 .upload-item i{
	font-size: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.upload-container  .upload-item:hover i{
	color: #228234;
}
.upload-container  .upload-item:hover{
	background: #c4efd2;
	border-color: #228234;
}
.wrap-item1 .thumbnail-wrapper img{
    width: 100%;
    height: 100%;

}
.wrap-item1 .preview-item{
	
	width: 100%;
	height: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px dashed #ddd;
    cursor: pointer;
}
.preview-item img{
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.5s;
}
.preview-item:hover img{
	opacity: 0.6;
}
.preview-item:hover img{
	border-color: #228234;
}
.last-item .overlay-item{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: #0000009e;
    border-radius: 5px;
    z-index: 9;
}
.last-item .overlay-item:hover{
	background: #000000b5;
}
.upload-container .last-item{
	position: relative;
	cursor: pointer;
}
.upload-container .last-item .span-text{
	position: absolute;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 22px;
}
.upload-container .last-item{

}
.upload-container.last-item{

}

.dialog-preview-file-container{
	position: fixed;
	background-color: #000000cc;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999999;
}

.dialog-preview-file-container.hide{
	display: none;
}
.dialog-preview-file-container .wraper-view-file{
	width: 652px;
	margin: 0 auto;
	padding-top: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.dialog-preview-file-container .preview-bar{
	display: flex;
}
.dialog-preview-file-container .preview-bar-left{
	width: 100%;
}
.dialog-preview-file-container button{
	border:none;
	color: #329945;
    background: none;
}
.dialog-preview-file-container img{
	width: 100%;
}
.dialog-preview-file-container .controller{
	height: 60px;
	padding: 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgb(0,0,0);
	background: linear-gradient(180deg, rgb(0 0 0 / 45%) 0%, rgba(255,255,255,0) 100%);
}
.dialog-preview-file-container .controller .delete-file{
	cursor: pointer;
	color: #ffffff;
    background: #ff000073;
    border: solid 1px #ffffff;
    padding: 3px;
    width: 58px;
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s;
    float: right;
}
.dialog-preview-file-container .controller .delete-file:hover{
	color: #ffffff;
}
.dialog-preview-file-container .controller .delete-file i{
	margin-right: 5px;
}
.dialog-preview-file-container .thumb-list{
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;
}
.dialog-preview-file-container .thumb-list .thumbnail-preview{
	border-radius: 5px;
	width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.img-thumb-file{
	border-radius: 5px;
}
.dialog-preview-file-container .thumb-list .react-pdf__Document{
	width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    cursor: pointer;
}


.dialog-preview-file-container .backdrop{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.dialog-preview-file-container .prevw{
	position: relative;
}
.afr{
	max-height: calc(100vh - 120px);
	overflow-y: scroll;
}
.dialog-preview-file-container .preview-file{
	text-align: center;
}
.dialog-preview-file-container .thumb-list .slick-slider.slick-initialized {
	width: 100%;
}
.img-thumb-file{
	width: 100%;
    height: 100%;
    background-size: cover;
}
.thumbnail-wrapper{
	width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #c7c7c7;
    border-radius: 8px;
}






























