.contain_social {
    position: fixed;
    bottom: 26%;
    right: 10px;
    z-index: 9999;
}
.contain_social img {
    width: 60px;
    height: 60px;
}

@media only screen and (max-width: 767px) {
    .contain_social {
        bottom: 7%;
    }
}
