.support-kh {
    text-align: center;
    padding: 60px 0;
    background: #FFFFFF;
    position: relative;
}
.background-support {
    width: 100%;
    height: 100%;
    background-image: url(/img/img_background_support.png);
    background-size: cover;
    border-radius: 16px;
    padding-top: 101px;
    padding-bottom: 103px;
}
.background-support h1 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}
.background-support p {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.background-support .contact-info {
    margin-top: 24px;
}
.support-kh .green-top-bg{
    background: rgb(218, 245, 226);
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
}
.support-kh .upto-top{
    position: relative;
    z-index: 9;
}