.products{

}
.products{
	padding-top: 60px;
	padding-bottom: 40px;
	position: relative;
	background: linear-gradient(180deg, rgb(231 245 235) 0%, #daf5e2 100%);
}
.pratical-01{
	background-image: url(/img/pratical-gb01.png);
	background-size: cover;
	background-position: left;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.products ul{
	list-style: none;
	padding: 0;
}
.products .m-head-product-list{
	
}
.products .m-head-product-list h3{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 72px;
	text-align: center;
	color: #329945;
}
.products .m-head-product{
	
}
.products{
	
}
.products{
	
}


.products .product-item{
	background: #FFFFFF;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
	border-radius: 6px;
}
.products .product-item .ifo{
	padding: 20px;
}
.products .product-item .ifo h5{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: #212121;
	text-align: center;
	text-decoration: none;
}
.products .product-item .ifo a:hover{
	text-decoration: none;
}

.products .product-item{
	position: relative;
}
.products li .view-dt{
	background: #329945;
	border-radius: 100px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	padding: 10px 15px;
	width: 80%;
	margin: 0 auto;
	margin-top: -24px;
    z-index: 99999;
    position: relative;
}
.products li .kt-view-ct:hover {
	text-decoration: none;
}
.products .product-item .view-detail{
	width: 100%;
	display: block;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	color: #329945;
	transition: all 0.5s;
	text-align: center;
	margin-bottom: 20px;
}
.products .product-item .ifo .view-detail:hover{
	text-decoration: none;
	color: #329945;
}
.products .product-item .ifo .view-detail i{
	margin-left: 5px;
	transition: all 0.5s;
}
.products .product-item .ifo .view-detail:hover i{
	margin-left: 10px;
	transition: all 0.5s;
	color: #319945;
}
.products .product-item .ifo .view-insurance-benefits:hover{
	font-style: italic;
}
.products .product-item .ifo .view-insurance-benefits{
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	align-items: center;
	text-align: center;
	text-decoration-line: underline;
	width: 100%;
    display: block;
	color: #CA3732;
	border-top: 1px solid #F1F1F1;
    margin-top: 10px;
    padding-top: 15px;
    transition: all 0.5s;
}
.products .product-item img{
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
.more-product{
	text-align: center;
	padding: 35px 20px;
	padding-bottom: 50px;
	position: relative;
}

.more-product a{
	background: #DA2128;
	border-radius: 24px;
	color: #fff;
	padding: 15px 20px;
	transition: background 0.2s;
}
.more-product a:hover{
	background: #c11b21;
	text-decoration: none;
}

.products .sub-title {
	margin-bottom: 50px;
}
.products .sub-title p{
	text-align: center;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 27px;
	color: #212121;
	margin-bottom: 0;
}

.slick-slide>div {padding: 0 15px;}
.action-group-slide{
	display: flex;
	position: relative;
}

.action-group-slide .arleft, .action-group-slide-mobile .arleft{
	cursor: pointer;
	margin-right: 10px;
	left: 0;
	position: absolute;
	width: 50px;
}
.action-group-slide .arright, .action-group-slide-mobile .arright{
	position: absolute;
	right: 0px;
	cursor: pointer;
	margin-left:10px;
	position: absolute;
    width: 50px;
}

.center-ver{
	width: 100%;
	z-index: 100000;
  position: absolute;
  top: 39%;
  left: 50%;
  -ms-transform: translate(-50%, -39%);
  transform: translate(-50%, -39%);
}

.list-product{
	position: relative;
}
.action-group-slide-mobile{
	display: flex;
	text-align: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.products .group{
	position: relative;
}
.products .group .xxk1{
	width: 100%;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.action-group-slide .arleft, .action-group-slide-mobile .arleft{
	left: -25px;
}
.action-group-slide .arright, .action-group-slide-mobile .arright{
	right: -25px;
}
@media only screen and (max-width: 767px) {
	.products li .view-dt{
		margin-top: -50px;
	}
	.products .m-head-product-list h3{
		font-size: 24px;
	}
	.sub-title p{
		font-size: 14px;
		margin-bottom: 5px;
		line-height: 14px;
	}
	.products .sub-title {
		margin-bottom: 20px;
	}
	.list-product .slick-list li{
		padding: 24px;
	}
	.action-group-slide .arleft, .action-group-slide-mobile .arleft{
	left: 0px;
	}
	.action-group-slide .arright, .action-group-slide-mobile .arright{
		right: 0px;
	}

}
