.bg_intro_app {
  width: 100%;
  min-height: 440px;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
}
.contain_intro_app {
  width: 100%;
  margin: auto;
}
.contain_intro_app .right_phone img {
  width: 380px;
  height: 396px;
}
.contain_content_intro_app h4 {
  font-family: Nunito;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #329945;
  margin: 0px;
}
.slogan_content_intro_one h4 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #222222;
  margin: 0px;
}
.slogan_content_intro_two h4 {
  font-family: Nunito;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #329945;
  padding-left: 10px;
  margin: 0px;
}
.content_intro_app_detail p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #222222;
  padding-top: 10px;
}
.contain_code_qr {
  display: flex;
  width: 85%;
  margin-left: -15px;
}
.contain_code_qr .contain_code_qr_img {
  width: 33.3%;
}
.contain_code_qr .custom_or_qr {
  width: 33.3%;
}
.contain_code_qr .store_app_kt {
  width: 33.3%;
}
.contain_code_qr .contain_code_qr_img img{
  width: 196.87px;
  height: 196.87px;
}
.custom_or_qr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom_or_qr p{
  font-family: Nunito;
  font-weight: 600;
  font-size: 36px;
  color: #222222;
}
.store_app_kt {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.store_app_kt .store_app_kt_google_play img {
  width: 160px;
  height: 58px;
}
.store_app_kt .store_app_kt_detail img {
  width: 160px;
  height: 58px;
}
@media only screen and (max-width: 767px) {
  .bg_intro_app {
    padding-top: 20px;
  }
  .contain_intro_app .right_phone img{
    width: 100%;
    height: 100%;
  }
  .contain_content_intro_app h4 {
    font-size: 24px;
    line-height: 36px;  
  }
  .slogan_content_intro_one h4 {
    font-size: 24px;
    line-height: 36px;  
  }
  .slogan_content_intro_two h4 {
    font-size: 24px;
    line-height: 36px;  
    padding-left: 0px;
  }
  .content_intro_app_detail p {
    font-size: 14px;
    line-height: 21px;
  }
  .contain_code_qr {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .custom_or_qr {
    display: none;
  }
  .contain_code_qr .contain_code_qr_img {
    width: 45%;
  }
  .contain_code_qr .store_app_kt {
    width: 45%;
  }
  .contain_code_qr .contain_code_qr_img img {
    width: 150px;
    height: 150px;
  }
  .store_app_kt .store_app_kt_google_play img {
    width: 150px;
    height: 48px;
  }
  .store_app_kt .store_app_kt_detail img {
    width: 150px;
    height: 48px;
  }
  .contain_intro_app .right_phone {
    padding-top: 30px;
  }
}
