.horz-layout-dn .left-img img {
  width: 460px;
}

.horz-layout-dn .left-img {
  text-align: center;
}

.horz-layout-dn {
  position: relative;
}
.horz-layout-dn {
  padding: 90px 0px;
}
.horz-layout-dn .content h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #212121;
}
.horz-layout-dn .content-ctn {
  position: relative;
}
.horz-layout-dn .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.horz-layout-dn .content .list-content {
}
.horz-layout-dn .content .list-content .item {
  display: flex;
}
.horz-layout-dn .content .list-content .item p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
  padding-left: 10px;
}
.horz-layout-dn .content .list-content .item i {
  padding-top: 5px;
  color: #329945;
}
.horz-layout-dn #tsparticles {
  opacity: 0.1 !important;
}
.horz-layout-dn {
  background-size: cover;
  background-image: url("/img/visa/bg_Section1.png");
}

.horz-layout-dn-2 .gt-list .gt-item {
  cursor: pointer;
}
.horz-layout-dn-2 .gt-list .gt-item .circle-k {
  background: #d19c11;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  padding-top: 22px;
  margin: 0 auto;
  box-shadow: 0px 0px 0px 8px #ffe9b6;
  transition: box-shadow 0.2s linear;
}
.horz-layout-dn-2 .gt-list .gt-item .circle-k:hover {
  box-shadow: 0px 0px 0px 12px #ffe9b6;
}
.horz-layout-dn-2 .gt-list .gt-item p {
  text-align: center;
  margin-top: 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #212121;
}
.horz-layout-dn-2 .gt-list {
  padding: 50px 0px;
  margin-top: 30px;
  margin-bottom: -20px;
  position: relative;
  z-index: 9;
}
.horz-layout-dn-2 .gt-list {
  background: #ffffff;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
.horz-layout-dn-2 h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #212121;
  padding-top: 50px;
}
.horz-layout-dn-2 {
  padding-right: 15px;
  padding-left: 15px;
}
.horz-layout-dn-2 {
}
.horz-layout-dn-2 {
}
.horz-layout-dn-2 {
}
.modal-popup-visa {
  max-width: 1020px;
}
.modal-popup-visa .modal-content {
  padding: 10px;
}
.item-img-popup {
  width: 100%;
}
.title-item-popup {
  color: #212121;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}
.modal-popup-visa .modal-title {
  font-size: 24px;
}
.modal-popup-visa .modal-header {
  padding-bottom: 20px;
}
.modal-popup-visa .modal-body {
  padding-bottom: 25px;
}
.button-close-popup-visa {
  background: #329945;
  border-radius: 40px;
  width: 100%;
  padding: 10px 0;
  border: none;
}
.button-close-popup-visa:hover {
  background: #208d34;
}
.button-close-popup-visa:focus {
  background: #208d34;
}
.button-close-popup-visa:active {
  background: #208d34 !important;
}
.modal-popup-visa .modal-footer {
  display: block;
}
.qr-visa-popup {
  width: 150px;
  height: 150px;
}
.qr-visa {
  text-align: center;
}
.scan-qr-visa {
  margin-bottom: 10px;
}
.modal-popup-visa a {
  color: #329945;
}
.icon-zutto {
  width: 30%;
}
.modal-popup-visa .modal-header button {
  color: #329945;
}
.uppercase-first-letter{
  text-transform: capitalize;
}
@media only screen and (max-width: 767px) {
  .horz-layout-dn-2 .gt-list {
    padding: 20px 0px;
  }
  .horz-layout-dn-2 .gt-list .gt-item {
    padding-top: 15px;
  }
  .horz-layout-dn .left-img img {
    width: 100%;
  }
  .horz-layout-dn .content {
    margin-top: 30px;
    position: inherit;
    top: 50%;
    transform: none;
  }
  .horz-layout-dn .content-ctn {
    position: inherit;
  }
  .horz-layout-dn .content h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .horz-layout-dn .content .list-content .item p {
    font-size: 14px;
    line-height: 21px;
  }
  .horz-layout-dn {
    padding: 80px 0px 30px 0px;
  }
  .title-item-popup {
    font-size: 12px;
  }
  .horz-layout-dn-2 h1 {
    font-size: 24px;
    padding-top: 0;
  }
}
