.ctn_benefit_ldhk {
  background-size: cover;
}
.ctn_benefit_ldhk_vnat{
  background-color: white;
}

.ctn_benefit_ldhk_vnat_detail{
  border-radius: 0 90px 0 0;
  background: #F9F9F9;
}

.ctn_benefit_tnds {
  margin-top: -450px;
}
.contain_tnds_infor {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.contain_tnds_infor .title_tnds_infor {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contain_tnds_infor .title_tnds_infor h2 {
  font-size: 48px;
  color: #212121;
  font-weight: bold;
}
.line_tnds_infor {
  width: 60px;
  height: 4px;
  background: #329945;
  border-radius: 2px;
  margin: 15px 0px;
}
.contain_tnds_infor .ctn_infor_detail {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.contain_tnds_infor .ctn_infor_detail .package_ctn_infor {
  width: 255px;
  height: 243px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.kt_pkg_detail .btn_view_detail {
  margin-left: 20px;
  padding-top: 15px;
}
.kt_pkg_detail .btn_view_detail a {
  color: #329945;
  text-decoration: none;
}
.kt_pkg_detail .btn_view_detail span {
  padding-left: 5px;
}
.kt_pkg_detail .ctn_contain_icon {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}
.benefit_bg_icon {
  background: #E9FAEE;
}
.benefit_bg_icon_tncn {
    background: #329945;
}
.kt_pkg_detail .ctn_contain_icon img {
  width: 40px;
  height: 40px;
}
.kt_pkg_detail .content_pgk_detail p {
  margin: 0px 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #212121;
}
.show_kitin_component {
  display: none;
}
.contain_cpn_ctb {
  background-color: white;
}
.contain_cpn_ctb .contain_benefit_ctb_top {
  height: 450px;
  background: linear-gradient(270deg, #5bbd6f 0%, #3ba14e 100%);
  border-top-right-radius: 60px;
  padding-top: 60px;
}
.contain_line_ctb_benefit .line_ctb_benefit {
  width: 60px;
  height: 4px;
  background: #ffffff;
  border-radius: 2px;
}
.title_ctb_benefit h2 {
  font-family: Nunito;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}
.contain_ctb_content .detail_ctb_content {
  padding-top: 15px;
}
.contain_ctb_content .detail_ctb_content p {
  font-family: Nunito;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
.package_ctb_overview {
  display: flex;
  justify-content: space-between;
}
.package_ctb_overview .contain_package_ctb {
  width: 380px;
  height: 474px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.ctn_package_tcb_kt {
  margin-top: -200px;
  padding-bottom: 70px;
}
.contain_package_ctb {
  padding: 0px 15px;
}
.contain_package_ctb .ctn_medal_tcb {
  margin-top: 25px;
}
.ctn_medal_tcb .medal_detail {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctn_medal_tcb .medal_detail img {
  width: 24px;
  height: 28px;
}
.contain_package_ctb .tcb_title_package_hdi {
  padding-top: 10px;
}
.contain_package_ctb .tcb_title_package_hdi h3 {
  color: #212121;
  font-family: Nunito;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.info_pgk_tcb_hdi{
  margin: 0 15px;
}
.info_pgk_tcb_hdi .icon_pgk_ctb i {
  color: #329945;
}
.info_pgk_tcb_hdi .content_dt_pgk_tcb {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
}
.info_pgk_tcb_hdi .content_dt_pgk_vnat {
  color: #333333;
  font-size: 12px;
  line-height: 18px;
}
.info_pgk_tcb_hdi .monney_pgk_tcb {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
}
.info_pgk_tcb_hdi .monney_pgk_vnat {
  color: #333333;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;
}
.package_ctb_overview .total_monney_tcb {
  border-top: 1px solid #eeeeee;
  margin-top: 20px;
  padding: 20px 0px;
}
.total_monney_tcb .total_tcb_hdi {
  text-align: right;
  color: #212121;
  font-family: Nunito;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.total_monney_tcb .label_tcb_hdi {
  margin: auto;
  color: #333333;
  font-family: Nunito;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.button_buy_tcb .button_buy_tcb_detail {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px 0px;
}
.button_buy_vnat {
  position: absolute;
  width: 288px;
  right: 15px;
  bottom: -25px;
  margin: 0 15px;
}
.button_buy_vnat .button_buy_vnat_detail {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 10px 0px;
}

.medal1_bg {
  background: #ffecdc;
}
.medal2_bg {
  background: #f1f1f1;
}
.medal3_bg {
  background: #fff4cd;
}
.btn1_buy_tcb {
  background-color: #329945;
  color: white;
}
.btn1_buy_vnat {
  background-color: #FBE9EA;
  color: #DA2128;
}
.btn1_buy_vnat:hover {
  background-color: #DA2128;
  color: white;
}

.btn2_buy_tcb {
  background: #d3f6dd;
  color: #329945;
}
.btn1_buy_tcb:hover {
  background: #329945 !important;
  color: white !important;
}
.btn2_buy_tcb:hover {
  background: #329945 !important;
  color: white !important;
}
.style_ntn_kk {
  width: 30% !important;
}
.title_tnds_text_start {
  justify-content: flex-start !important;
}
.contain_detail_ql {
  width: 600px;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 12%);
  border-radius: 10px;
}
.contain_detail_ql .ct_titile_ql {
  padding: 10px 0px;
  border-bottom: 1px solid #DDDDDD;
}
.contain_detail_ql .strong_title_ql {
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 10px;
  color: #212121;
}
.contain_detail_ql .content_detail_hh {
  padding-bottom: 20px;
}
.contain_detail_ql .content_detail_hh p{
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
}

.contain_vnat_infor {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contain_vnat_infor .title_tnds_infor {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contain_vnat_infor .title_tnds_infor h2 {
  font-size: 48px;
  color: #329945;
  font-weight: bold;
}
.line_tnds_infor {
  width: 60px;
  height: 4px;
  background: #329945;
  border-radius: 2px;
  margin: 15px 0px;
}
.contain_vnat_infor .ctn_infor_detail {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
.contain_vnat_infor .ctn_infor_detail .package_ctn_infor {
  width: 255px;
  height: 243px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}
.detail_vnat_content p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #666666;
}
.package_vnat_overview {
  display: flex;
  justify-content: space-between;
}

/*.package_vnat_overview*/
.contain_package_vnat {
  width: 350px !important;
  height: 475px;
  background: #FFFFFF;
  padding: 24px 16px;
  border: 1px solid #84C28F;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(198, 235, 178, 0.75);
  border-radius: 8px;
  position: relative;
  margin-bottom: 25px;
}
.icon_pgk_vnat img {
  width: 40px;
  height: 40px;
}
.content_dt_pgk_vnat {
  width: 69%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #329945;
}
.dv_eff_time_vnat {
  margin-top: 16px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 16px 0;
}
.dv_eff_time_vnat .txt_eff_time_vnat{
  font-size: 14px;
  line-height: 21px;
  color: #333333
}
.dv_eff_time_vnat .vl_eff_time_vnat {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}
.total_monney_vnat {
  margin-top: 10px;
}
.total_monney_vnat .label_vnat_hdi {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin-top: 5px;
}
.total_monney_vnat .total_vnat_hdi{
  font-weight: bold;
  font-size: 24px;
  /*line-height: 36px;*/
  text-align: right;
  color: #DA2128;
}
/*.custom-slider .slick-slide{*/
/*  width: 320px !important;*/
/*  !*margin-right: 30px;*!*/
/*  margin: 0 30px;*/
/*}*/


@media only screen and (max-width: 767px) {
  .contain_tnds_infor, .contain_vnat_infor {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contain_tnds_infor .ctn_infor_detail .package_ctn_infor {
    width: 100%;
    height: 133px;
    margin-bottom: 20px;
  }
  .style_ntn_kk {
    width: 100% !important;
  }
  .contain_tnds_infor .title_tnds_infor h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .contain_vnat_infor .title_tnds_infor h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .contain_vnat_infor .detail_vnat_content p {
    font-size: 14px;
    line-height: 21px;
  }

  .kt_pkg_detail .content_pgk_detail p {
    line-height: 24px;
  }
  .package_ctn_infor .kt_pkg_detail {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .kt_pkg_detail .ctn_contain_icon {
    margin-left: 20px;
    margin-right: 5px;
  }
  .content_pgk_detail {
    width: 70%;
  }
  .ctn_benefit_tnds {
    margin-top: 0px;
  }
  .package_ctb_overview {
    flex-direction: column;
  }
  .package_ctb_overview .contain_package_ctb {
    width: 100%;
    margin-bottom: 20px;
  }
  .contain_cpn_ctb .contain_benefit_ctb_top {
    padding-top: 30px;
    height: 360px;
  }
  .title_ctb_benefit h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .contain_cpn_ctb .contain_benefit_ctb_top p {
    font-size: 14px;
    line-height: 21px;
  }
  .ctn_package_tcb_kt {
    padding-bottom: 40px;
  }
  .contain_detail_ql {
    width: auto;
  }
  .line_tnds_infor {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .line_tnds_infor .ctn_infor_detail .package_ctn_infor {
    width: 100%;
    height: 133px;
    margin-bottom: 20px;
  }
  .style_ntn_kk {
    width: 100% !important;
  }
  .line_tnds_infor .title_tnds_infor h2 {
    font-size: 24px;
    line-height: 36px;
  }
}
