.bg_product_promo{
	background: #ffffff;
}
.bg_product_promo .tbasdsds{
	background: #E9FAEB;
	padding: 60px 0px;
}
.bg_product_promo .tbasdsds .head-title{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	font-size: 36px;
}
.bg_product_promo .tbasdsds .head-title span{
	color: #329945;
	font-weight: bold;
}
.bg_product_promo .tbasdsds .sub-title{
	font-size: 24px;
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	color: #888888;
}
.bg_product_promo .tbasdsds .btn-tracuu{
	background: #DA2128;
	border: 1px solid #DA2128;
	box-sizing: border-box;
	border-radius: 8px;
	color: #ffffff;
	padding: 10px;
	width: 100%;
	min-width: 100%;
}
.asdhsds{
	text-align: center;
}
.time-promotion{
	display: flex;
	margin: 30px 0px;
}
.time-promotion .time-detail{
	margin-left: 50px;
	display: flex;
}
.time-promotion  .time-title{
	padding: 10px 0px;
	font-weight: bold;
    display: initial;
    font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}
.time-promotion .time-detail{

}
.time-promotion .time-detail .time-item{
	padding: 10px 10px;
	color: #DA2128;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
}
.time-promotion .time-detail .time-item.aborder{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.time-promotion .time-detail{
	
}
.promotion-product-list-item .promo-item{
	margin-top: 50px;
}
.promotion-product-list-item .promo-item{
	width: 100%;
}
.promotion-product-list-item .thumb{
	width: 100%;
}
.promotion-product-list-item .thumb img{
	width: 100%;
}
.promotion-product-list-item .title-promo{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	display: flex;
	color: #212121;
}
.promotion-product-list-item .title-description{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	display: flex;
	color: #888888;
}
.promotion-product-list-item .view-detail{
	background: #329945;
	border-radius: 8px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	padding: 10px 20px;
}

.promotion-product-list-item .view-detail a{
	color: #ffffff;
}

.promotion-product-list-item{
	padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .bg_product_promo .tbasdsds .head-title{
  	font-size: 24px;
  	text-align: center
  }
  .bg_product_promo .tbasdsds .sub-title{
	font-size: 18px;
	text-align: center;
  }
  .time-promotion .time-title{
  	font-size: 16px;
  }
  .time-promotion .time-detail .time-item{
  	font-size: 16px;
  	width: 33%;
    text-align: center;
  }
  .time-promotion{
  	display: block;
  }
  .time-promotion .time-detail{
  	margin-left: 0px!important;
  	width: 100%;
  }
  .promotion-product-list-item .title-promo{
  	margin-top: 10px;
  	margin-bottom: 10px;
  }
  .promotion-product-list-item .title-description{
  	margin-bottom: 10px;
  }
}


