.cardholder-info {
  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
}
.cardholder-info .card-head {
  padding: 10px;
  background: #f0fef5;
  border-radius: 5px 5px 0px 0px;
}
.cardholder-info .card-head .userinfo {
  display: flex;
}
.cardholder-info .card-head .userinfo .k {
  display: flex;
}
.cardholder-info .card-head .k1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #777777;
  line-height: 40px;
  padding-left: 20px;
}
.cardholder-info .card-head .k2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
  padding-left: 10px;
  line-height: 40px;
}
.cardholder-info .card-content {
  padding: 15px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}
.cardholder-info .card-content .data-preview .r {
  display: flex;
  margin-bottom: 10px;
}
.cardholder-info .card-content .data-preview .r .n {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  text-transform: capitalize;
}
.cardholder-info .card-content .data-preview .r .v {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  padding-left: 10px;
}
.cardholder-info .rq-inf {
  text-align: center;
}
.cardholder-info .rq-inf p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #777777;
  margin-top: 10px;
}
.cardholder-info .rq-inf img {
  width: 160px;
  height: 160px;
}
.cardholder-info .w100 {
  width: 100%;
}
.cardholder-info .bx1 {
  margin-top: 15px;
}
.cardholder-info .btn-inf-group {
  padding: 40px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.cardholder-info .request-invoice{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #329945;
  margin-top: 16px;
  cursor: pointer;
}

.cardholder-info .bdr-right {
  border-right: 1px solid #dddddd;
  padding-left: 55px;
}
.cardholder-info .bdr-right2 {
  border-right: 1px solid #dddddd;
}
.cardholder-info .right-col {
  display: flex;
}
.cardholder-info .xa2d {
  width: 200px;
}
.cardholder-info .right-col p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #777777;
  margin-bottom: 0px;
  padding-right: 10px;
  width: 100%;
}
.cardholder-info .card-foot {
  padding: 15px;
}
.cardholder-info .card-foot .p1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
}
.cardholder-info .list-endow {
  position: relative;
  padding: 0px 50px;
}
.cardholder-info .endow-item {
  padding: 15px 35px;
}
.cardholder-info .endow-item img {
  margin-bottom: 10px;
}
.cardholder-info .endow-item p {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  margin-bottom: 5px;
  height: 50px;
}
.cardholder-info .endow-item a {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #329945;
}
.cardholder-info .action-group-slide .arleft,
.cardholder-info .action-group-slide-mobile .arleft {
  cursor: pointer;
  margin-right: 10px;
  position: absolute;
  left: 5px;
  width: 50px;
}
.cardholder-info .action-group-slide .arright,
.cardholder-info .action-group-slide-mobile .arright {
  position: absolute;
  right: 5px !important;
  cursor: pointer;
  margin-left: 10px;
  position: absolute;
  right: -25px;
  width: 50px;
}

.cardholder h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 72px;
  text-align: center;
  color: #212121;
}
.cardholder {
  background: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}
.cardholder-info {
}
.cardholder-info {
}
.cardholder-info {
}
.hotline_visa {
  color: #da2128;
  margin-top: 10px;
  cursor: pointer;
}
.show-detail-ql-visa {
  color: #329945;
  text-decoration: underline;
  cursor: pointer;
}
.modal-popup-visa-ycbt {
  max-width: 500px;
}
.modal-popup-visa-ycbt .modal-content {
  padding: 0 10px;
}
.modal-popup-visa-ycbt .yc-success {
  color: #50b464;
  font-weight: bold;
  font-size: 24px;
}
.button-close-popup-visa-ycbt {
  background: #da2128;
  border-radius: 40px;
  width: 100%;
  padding: 10px 0;
  border: none;
}
.button-close-popup-visa-ycbt:hover{
  background: #ca060d;
}
.button-close-popup-visa-ycbt:focus{
  background: #ca060d;
}
.button-close-popup-visa-ycbt:active{
  background: #ca060d;
}
.btn-request-invoice {
  width: 221px;
  background-color: #DA2128 !important;
  border-radius: 40px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  border: none;
  padding: 8px 50px;
  cursor: pointer;
}
.request-hotline{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-decoration-line: underline;
  color: #329945;
}
.footer-modal-request{
  margin-top: 16px;
  text-align: center;
}

.cardholder-info:hover .choose-item{
  display: block;
}

.choose-item {
  position: absolute;
  top: 0;
  background-color: #ffffffbd;
  width: 100%;
  height: 100%;
  display: none;
}
.btn-choose-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #329945;
  border-radius: 10px;
  padding: 8px 21px;
  cursor: pointer;
  color: #ffffff;
}
.data-table-claim{
  font-size: 14px;
  line-height: 21px;
  color: #323232;

}

.rd_group {
  display: flex;
}
.indemnify_form .top_select_box .rd_group {
  margin-left: 50px;
  margin-top: 5px;
}

@media only screen and (max-width: 767px) {
  .cardholder h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .cardholder-info .right-col {
    display: block;
    margin-top: 10px;
  }
  .cardholder-info .xa2d {
    width: 100%;
    margin-top: 15px;
  }
  .cardholder-info .card-content .data-preview .r .n {
    font-size: 14px;
    line-height: 21px;
  }
  .cardholder-info .card-content .data-preview .r .v {
    font-size: 14px;
    line-height: 21px;
  }
  .cardholder-info .bdr-right {
    padding-left: 15px;
  }
  .cardholder-info .btn-inf-group {
    padding: 0px;
    width: 100%;
    position: initial;
    top: auto;
    transform: none;
  }
  .cardholder-info .endow-item {
    padding: 15px 15px;
    text-align: center;
  }
  .cardholder-info .endow-item img {
    margin: 0 auto;
  }
  .horz-layout-dn-2 h1 {
    font-size: 24px;
    line-height: 36px;
    padding-top: 0px;
  }
  .cardholder-info .card-head .userinfo img {
    width: 28px;
  }
  .cardholder-info .card-head .k1 {
    padding-left: 10px;
  }

}
